/*-----------------------------------------------------------------------------------
              # SECCION CSS CURSO NO EDITAR MAS ALLA DE LOS COLORES :') '
-------------------------------------------------------------------------------------*/
.dem-main-curso body { 
  font-family: 'Roboto', 
  sans-serif; 
  color: #132F55;
  background-color: #FBFDFE;  
}

.dem-main-curso p {
  margin-left: 12px; 
  margin-right: 14px;  
  text-align: left;
}

.dem-main-curso h1, .dem-main-curso h2, .dem-main-curso h3, .dem-main-curso h4, .dem-main-curso h5, .dem-main-curso h6, .dem-font-primary { 
  font-family: "Roboto", 
  sans-serif; 
}

.dem-main-curso img {
  width: 100%; 
  height: auto;
  border-radius: 5px; 
}

/*--------------------------------------------------------------
              # BANNER
--------------------------------------------------------------*/
.dem-bann_sect {
  display: flex;
  justify-content: center;
  padding: 25px;    
  margin-bottom: 10px;
  background-image: url('../img/banner-unidad1.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  animation: fadeInLeft; 
  animation-duration: .65s;
  color: #fff;
  font-size: xx-large;
  font-weight: bolder;
}

.dem-bann_sect p {
  margin: 0;
  font-weight: 700;
  font-size: 2vw;
  color: #fff;
}

@media (max-width: 600px) {
  .dem-bann_sect {
    background-position: left; 
  }
}

/*--------------------------------------------------------------
              # SECCION
--------------------------------------------------------------*/
.dem-ind_sect {
  padding: 25px;    
  margin-bottom: 10px;
  color: #000739;
  background-image: url(../img/banner-unidad2.png);
  border-top-left-radius: .5vw;
  border-top-right-radius: .5vw;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  animation: fadeInLeft; 
  animation-duration: .65s;
}

.dem-ind_sect h2 { 
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .dem-ind_sect {
    background-position: left;
  }
}

/*--------------------------------------------------------------
              # CONTENIDO UNIDADES
--------------------------------------------------------------*/
.dem-tab-wrapper_act {
  position: relative;
}

.dem-tab-wrapper_act p {
  margin-left: 10px;
  margin-right: 12px;
}

.dem-tabs {
  position: relative; 
  z-index: 1; 
  display: flex;
  flex-direction: column;
  color: #444;
  background-color: #f5f5f5;
  width: 20%;
  float: left;
  height: 100vh;
  box-shadow: 2px 3px 8px 1px #C9C9C9;
  border-bottom-right-radius: 2vw;
}

.dem-tab-button-curso {
  width: 100%; 
  min-width: 120px; 
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid #A2E6B6;
}

.dem-tab-button-curso:hover {
  background: #A2E6B6;
  border-color: #A2E6B6;
  border-radius: 2px;
}

.dem-tab-button-curso.active {
  background: #7BBF9B;
  border-color: #7BBF9B;
  border-radius: 2px;
  color: #FFF;
}

.dem-tab-content-curso {
  margin-left: 20%;
  padding: 15px;
  padding-left: 18px;
  background-color: #FBFDFE;
  margin-bottom: 15px;
  animation: fadeIn;
  animation-duration: 1.95s;
}

.dem-tab-content-curso p {
  padding-left: 25px;
}

/*--------------------------------------------------------------
  # CELULAR
--------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .dem-tab-wrapper_act p {
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
  }

  .dem-tabs {
    justify-content: space-evenly;
    float: none;
    flex-direction: row;
    background-color: #f5f5f5;
    width: 100%; 
    height: inherit;
  }

  .dem-tab-button-curso {
    display: none;
  }

  .dem-tab-button-curso.active {
    display: block;
    background-color: inherit;
    color: #5583B6;
    text-decoration: underline;
    width: 55%;
    line-height: 4vh;
    font-size: 18px;
    text-align: center;
    border-bottom: none;
  }
}
/*--------------------------------------------------------------
  # BOTONES TABS
--------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  .dem-pre, .dem-next {
    display: inline-block;
    border: none;
    background-color: inherit;
    color: #5583B6;
    width: 35px;
  }

  .dem-pre:hover {
    background-color: #99B5D3;
    color: #fff;
  }

  .dem-next:hover {
    background-color: #99B5D3;
    color: #fff;
  }

  .dem-pre {
    left: 2.5%;
  }

  .dem-next {
    right: 2.5%;
  }
}

@media only screen and (min-width: 601px) {
  .dem-pre, .dem-next {
    display: none;
  }
}

/*--------------------------------------------------------------
  # ESTILO ACTIVIDADES | RECURSOS
--------------------------------------------------------------*/
.dem-button-container-subtabs {
  display: flex;
  flex-wrap: wrap;
}

.dem-active-button-subtabs {
  background: #FE9166;
  border-color: #FE9166;
}

.dem-content-subtabs {
  display: none;
  padding: 20px;
  margin: 10px;
  margin-left: 32px;
  margin-right: 32px;
  animation: fadeIn;
  animation-duration: .95s;
  box-shadow: 3px 5px 8px #DBE3EB;
  border-bottom-right-radius: 19px;
}

.dem-active-content-subtabs {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .dem-content-subtabs {
    padding: 5px;
    line-height: 15px;
    margin: 2px;
  }

  .dem-toggle-button-subtabs {
    margin: 2px;
    border-radius: 8vw;
    font-size: small;
  }

  .dem-button-container-subtabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
  # BACK TO TOP
--------------------------------------------------------------*/
#dem-back-to-top-curso {
  position: fixed;
  right: 140px;
  bottom: 20px;
  z-index: 1;
  display: none;
  padding: 8px 12px;
  background-color: #0E3C61;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#dem-back-to-top-curso:hover {
  background-color: #5583B6;
}

@media screen and (max-width: 768px) {
  #dem-back-to-top-curso {
    right: 10px;
    bottom: 10px;
    display: block; 
  }
}


/*--------------------------------------------------------------
  # SUBTABS
--------------------------------------------------------------*/
.dem-toggle-button-subtabs {
  background: #99B5D3;   
  color: #fff;
  border: none;
  border-radius: 2vw;
  font-weight: 500;
  padding: 7px 20px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dem-active-button-subtabs, .dem-toggle-button-subtabs:hover {
  background-color: #0E3C61;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  .dem-toggle-button-subtabs {
    font-size: 16px;
    padding: 8px 16px;
    margin: 8px;
    border-radius: 2px;
  }
}

@media screen and (max-width: 768px) {
  .dem-tab-content-curso {
    margin-left: 2vw; 
    margin-right: 2vw; 
    padding: 15px;
  }
}

/*--------------------------------------------------------------
  # ESTILO BOTONES BAUL CONCEPTUAL 
--------------------------------------------------------------*/
.dem-toggle-button-subtabs-baul {
  background: #99B5D3;   
  color: #fff;
  border: none;
  border-radius: 2vw;
  font-weight: 500;
  padding: 7px 20px;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dem-content-subtabs-baul {
  display: none;
  padding: 20px;
  margin: 10px;
  margin-left: 32px;
  margin-right: 32px;
  animation: fadeIn;
  animation-duration: .95s;
  box-shadow: 3px 5px 8px #DBE3EB;
  border-bottom-right-radius: 19px;
}

.dem-active-content-subtabs-baul {
  display: block;
}

.dem-active-button-subtabs-baul, .dem-toggle-button-subtabs-baul:hover {
  background-color: #0E3C61;
  color: #FFF;
}

.dem-button-container-subtabs-baul {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {    
  .dem-toggle-button-subtabs-baul {
    width: 100%;
  }
}









/*--------------------------------------------------------------
  # SEPARADOR DE CONTENIDO PARA LA UNIDAD
--------------------------------------------------------------*/
.dem-separador {
  background-color: #5583B6;
  padding: 2px;
}

/*--------------------------------------------------------------
  # COLLAPSE
--------------------------------------------------------------*/
.dem-collapsible-curso {
  background-color: #79B793;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 85%;
  border: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.dem-active-collapse, .dem-collapsible-curso:hover {
  background-color: #A2E6B6;
}

.dem-content-collapse-curso {
  padding: 0 18px;
  width: 85%;
  display: none;
  overflow: hidden;
  text-align: left;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .dem-collapsible-curso {
    width: 100%;
  }

  .dem-content-collapse-curso {
    width: 100%;
  }
}

/*--------------------------------------------------------------
          ANIMACION ICONOS
--------------------------------------------------------------*/
.dem-animate-latido img {
  max-width: 180px;
}

@keyframes dem-latido {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.dem-animate-latido:hover img {
  animation: dem-latido 1s infinite;
}

/*--------------------------------------------------------------
                    BTN EVALUACION
--------------------------------------------------------------*/
.dem-button-ev-dem {
  display: inline-block;
  width: 33%;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------------------------------
                    footer EMU
--------------------------------------------------------------*/
.dem-footer-cursoEMU {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  background-color: #f1f1f1;
  text-align: center;
}

.dem-footer-cursoEMU-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 0.8rem;
}

.dem-footer-cursoEMU-item img {
  max-width: 80%;
  height: auto;
}

.dem-footer-cursoEMU-item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  .dem-footer-cursoEMU {
    grid-template-columns: repeat(6, 1fr);
  }

  .dem-footer-cursoEMU-item:last-child {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .dem-footer-cursoEMU {
    grid-template-columns: repeat(3, 1fr);
  }

  .dem-footer-cursoEMU-item:last-child {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .dem-footer-cursoEMU {
    grid-template-columns: 1fr;
  }

  .dem-footer-cursoEMU-item:last-child {
    font-size: 0.9rem;
  }
}

/*--------------------------------------------------------------
                    DOCENTES EMU
--------------------------------------------------------------*/
.dem-container-MEU {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.dem-profile-MEU {
  background-color: white;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
  text-align: center;
}

.dem-profile-MEU img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  padding: 15px;
  margin: 0 auto;
}

.dem-profile-MEU p {
  text-align: center;
}

.dem-profile-MEU:hover {
  transform: translateY(-10px);
}

/* Responsive Design */
@media (max-width: 900px) {
  .dem-profile-MEU {
    width: 45%;
  }

  .dem-profile-MEU img {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .dem-profile-MEU {
    width: 100%;
  }

  .dem-profile-MEU img {
    width: 50%;
    height: auto;
  }
}
/*--------------------------------------------------------------
                    BTN EVALUACION INICIO
--------------------------------------------------------------*/
.dem-btn-ev-dem {
  text-align: center;
}

.dem-button-ev-dem {
  display: inline-block;
  width: 33%;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5583B6;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.dem-button-ev-dem:hover {
  background-color: #99B5D3;
}

.dem-button-ev-dem a {
  color: #fff !important;
}

.dem-button-ev-dem:hover {
  background-color: #99B5D3;
}

/*--------------------------------------------------------------
                    BTN EVALUACION INICIO
--------------------------------------------------------------*/
.dem-presentacion-dem {
  background-color: #5583B6;
  color: #fff;
  padding: 3px;
  width: 80%;
  text-align: center;
  border-radius: 1vw;
}

/*--------------------------------------------------------------
# IMAGENES CAMBIANTES
--------------------------------------------------------------*/
  .image-container {
    position: relative;
    width: fit-content;   }

  .image-container img {
    width: 100%;
    display: block;
    transition: opacity 0.5s ease;    }

  .image-container .second-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;  }

  .image-container:hover .second-image {
    opacity: 1;  }

  @media (max-width: 600px) {
    .image-container {
      max-width: 100%;  }

    .image-container img {
      width: 50%;
      height: auto;  }

    .image-container .second-image {
      width: 50%;
      height: auto;
      object-fit: cover;
      left: 32px;  }
  }



/*--------------------------------------------------------------
# IMAGENES CAMBIANTES PRESENTACION
--------------------------------------------------------------*/
  .image-container2 {
    position: relative;
    width: 300px;
       }

  .image-container2 img {
    width: 100%;
    display: block;
    transition: opacity 0.5s ease;    }

  .image-container2 .second-image2 {
    position: absolute;
    top: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;  }

  .image-container2:hover .second-image2 {
    opacity: 1;  }

 @media (max-width: 600px) {
  .image-container2 {
    max-width: 100%;  }

  .image-container2 img {
    width: 50%;
    height: auto;  }

  .image-container2 .second-image2 {
    width: 50%;
    height: auto;
    object-fit: cover;
    left: 66px;  }
  }


/*--------------------------------------------------------------
# IMAGENES CAMBIANTES PRESENTACION
--------------------------------------------------------------*/
  .image-container3 {
    position: relative;
    width: 300px;
       }

  .image-container3 img {
    width: 100%;
    display: block;
    transition: opacity 0.5s ease;    }

  .image-container3 .second-image3 {
    position: absolute;
    top: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;  }

  .image-container3:hover .second-image3 {
    opacity: 1;  }

 @media (max-width: 600px) {
  .image-container3 {
    max-width: 100%;  }

  .image-container3 img {
    width: 50%;
    height: auto;  }

  .image-container3 .second-image3 {
    width: 50%;
    height: auto;
    object-fit: cover;
    left: 55px;  }
  }



/*--------------------------------------------------------------
# MARCO GENERAL
--------------------------------------------------------------*/
.dem-marco-general {
  box-shadow: 0px 8px 8px #DBE3EB;
  border-bottom-right-radius: 19px;
}

.dem-marco-general p {
  display: flow;
}

/*--------------------------------------------------------------
              # SECCION TEXTO SIMPLE
--------------------------------------------------------------*/
.dem-container-introduccioncurso {
  padding: 0 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/*--------------------------------------------------------------
              # TITULOS GENERAL
--------------------------------------------------------------*/
.dem-titulo_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dem-titulo_text img {
  max-width: 30px;
  margin-right: 5px;
}

.dem-titulo_text h5, .dem-titulo_text h2, .dem-titulo_text p {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0px;
}

/*--------------------------------------------------------------
              # SECCION !IMPORTANTE
--------------------------------------------------------------*/
.dem-seccion_import {
  margin-right: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 25px;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
}

.dem-item_import {
  background-color: #FCFCFC;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(181, 101, 29, 0.2), 0 6px 20px 0 rgb(181, 101, 29, 0.4);
  padding: 3vw;
  flex: 1;
}

.dem-titulo {
  font-size: 18px;
  background-color: #648223;
  border-radius: 8px;
  color: white;
  margin-bottom: 13px;
  font-weight: bold;
  padding-left: inherit;
  padding-right: inherit;
}

@media only screen and (max-width: 768px) { /* For mobile phones: */
  .dem-seccion_import {
    flex-direction: column;
  }

  .dem-item_import {
    margin-bottom: 3vw;
  }

  .dem-titulo {
    font-size: medium;
  }
}

/*--------------------------------------------------------------
              # SECCION ACTIVIDADES
--------------------------------------------------------------*/
.dem-seccion_act {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
}

.dem-titulo-act {
  background-color: #7BBF9B;
  border-radius: 8px;
  color: white;
  padding: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  padding-left: inherit;
  padding-right: inherit;
}

.dem-sec_1, .dem-sec_2, .dem-sec_3 {
  background-color: #FCFCFC;
  box-shadow: 0 4px 8px 0 rgba(212, 193, 156, 0.09), 0 6px 20px 0 rgba(212, 193, 156, 0.02);
  padding: 25px;
  padding-top: 25px;
  max-width: 38vw;
  flex: 1;
  text-align: center;
  text-justify: inter-word;
}

.dem-nombre-act {
}

@media only screen and (min-width: 768px) {
  .dem-seccion_act {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dem-sec_1, .dem-sec_2 {
    order: 1;
  }

  .dem-sec_3 {
    order: 3;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .dem-seccion_act {
    flex-direction: column;
  }

  .dem-sec_1, .dem-sec_2, .dem-sec_3 {
    max-width: 90vw;
    padding: 5vw;
  }
}

/*--------------------------------------------------------------
              # SECCION TEXTO SIMPLE
--------------------------------------------------------------*/
.dem-secc_text {
  padding-top: 15px;
  text-align: left;
  margin: 5px; 
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/*--------------------------------------------------------------
              # SECCION TEXTO IMPORTANTE
--------------------------------------------------------------*/
.dem-secc_important_text {
  margin: 1vw;
  margin-right: 4.5vw;
  margin-left: 4vw;
  box-shadow: 0 4px 8px 0 rgb(181, 101, 29, 0.2), 0 6px 20px 0 rgb(181, 101, 29, 0.2);
  background: linear-gradient(0deg, rgba(123,191,155, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 6px;
  border-style: solid;
  border-color: #648223;
}

.dem-important_text {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 1vw;
}

@media only screen and (max-width: 768px) {
  .dem-secc_important_text, .dem-important_text {
    margin: 2vw;
  }

  .dem-secc_important_text, .dem-important_text img {
    margin: 2vw;
    max-width: 100%;
    height: auto;
  }
}

/*--------------------------------------------------------------
              # SECCION TEMARIO
--------------------------------------------------------------*/
.dem-temario {
  padding-top: 1.5vw; 
  text-align: justify;
  margin: 0.5vw;
}

.dem-container_temario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .dem-temario {
    font-size: medium;
  }
}

.dem-table_curso {
  height: 200px;
  flex-basis: calc(50% - 10px);
  background-color: #ffff;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  transition: opacity 1.2s ease-in-out;
}

.dem-hidden-curso {
  opacity: 0;
  pointer-events: none;
}

.dem-visible {
  opacity: 1;
  transition: opacity 1.2s ease-in-out;
}

.dem-table_curso table {
  width: 100%;
}

.dem-table_curso table td {
  padding: 8px;
}

.dem-table_curso table th {
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  background-color: #7BBF9B;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .dem-container_temario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
              # SECCION GREEN TEXT
--------------------------------------------------------------*/
.dem-green_text {
  background-color: #648223;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  font-weight: bold;
}

.dem-green_text p {
  color: #fff;
}

/*--------------------------------------------------------------
              # SECCION GLOSARIO
--------------------------------------------------------------*/
.dem-hover-container {
  position: relative;
  display: inline-block;
}

.dem-hover-text {
  visibility: hidden;
  width: 100%;
  overflow-y: auto;
  background-color: #648223;
  text-align: center;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  word-wrap: break-word;
  white-space: pre-wrap;
}

.dem-hover-text p {
  color: #fff !important;
}

.dem-hover-container:hover .dem-hover-text {
  visibility: visible;
}

.dem-glosario {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #F5F5F5;
}

.dem-glosario img {
  max-width: 25px;
  margin: 0;
}

.dem-glosario p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .dem-hover-text {
    max-width: 400px;
    bottom: calc(100% + 5px); /* adjusted bottom value */
  }
}

/*--------------------------------------------------------------
  # SECCION CONTENIDO INTERACTIVO
--------------------------------------------------------------*/
.dem-container-video {
  position: relative;
  overflow: hidden; 
  width: 100%; 
  padding-top: 46.25%; 
  align-items: center;
}

.dem-container-h5p {
  position: relative;
  overflow: hidden; 
  width: 100%; 
  padding-top: 46.25%; 
  align-items: center;
}

.dem-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) { 
  .dem-container-video {
    padding-top: 64.25%;
  }

  .dem-container-h5p {
    padding-top: 100%;
  }
}

/*--------------------------------------------------------------
    # TABLAS ANIMACION 360
--------------------------------------------------------------*/
.dem-rotating-table {
  animation: rotate-table-y 1s linear;
  transform-origin: center;
  animation-fill-mode: forwards;
}

@keyframes rotate-table-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*--------------------------------------------------------------
    # TABLAS
--------------------------------------------------------------*/
.dem-tablas table td {
  text-align: center;
  align-content: center;
}

.dem-tablas thead {
  background-color: #648223;
  color: #fff;
}

.dem-table tr {
  font-weight: normal;
}

.dem-table-responsive th {
  text-align: center;
  font-weight: normal;
}

.dem-table-responsive a {
  color: #575756;
  text-decoration: none;
}

.dem-table-responsive a:hover {
  color: #575756;
  cursor: pointer;
}

.dem-table-wrapper-curso {
  width: 100%;
  overflow-x: auto;
}

.dem-table-wrapper-curso td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.dem-table-wrapper-curso td:first-child {
  min-width: 150px;
  max-width: 150px;
}

.dem-table-wrapper-curso td:last-child {
  word-break: break-all;
}

/*--------------------------------------------------------------
    # CONTENIDO INTRODUCCION
--------------------------------------------------------------*/
.dem-content-introduccion {
  margin-left: 0.5vw;
  text-align: left;
  padding: 20px;
  background-color: #FAF6F0;
  margin-bottom: 15px;
  animation: fadeIn;
  animation-duration: 1.95s;
  box-shadow: 1px 11px 6px 1px #C9C9C9;
}

/*--------------------------------------------------------------
# PDF VIEWER
--------------------------------------------------------------*/
.dem-embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.dem-guia {
  height: 650px;
}

@media only screen and (max-width: 768px) {  
  .dem-guia {
    height: auto !important;
  }
}

/*--------------------------------------------------------------
  # SOCIAL MEDIA
--------------------------------------------------------------*/
.dem-social_media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.dem-social_media a {
  color: #fff;
}

.dem-icon_fb, .dem-icon_tw, .dem-icon_yt, .dem-icon_web {
  background-color: #649934;
  border: none;
  padding: 5px 9px;
  margin: 10px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) { /* For mobile phones: */
  .dem-social_media {
    display: flex;
    flex-wrap: wrap;
  }
  .dem-icon_fb, .dem-icon_tw, .dem-icon_yt, .dem-icon_web {
    padding: 7px 11px;
    margin: 3px;
  }
}

/*--------------------------------------------------------------
  # PODCAST
--------------------------------------------------------------*/
.dem-input[type="range"] { /* Progress slider */
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background: #132F55;
}

.dem-input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00B0B8;
  margin-top: -2.5px;
}

.dem-input[type="range"]:active::-webkit-slider-thumb,
.dem-input[type="range"]:hover::-webkit-slider-thumb {
  background: #FE9166;
}

.dem-input[type="range"]:disabled::-webkit-slider-thumb {
  background: #ddd;
}

.dem-podcast-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dem-podcast-button > button {
  font-size: 28px;
  padding: 1px 8px;
  border-bottom: none;
  display: inline-flex;
  border-radius: 100%;
  margin: 0px 1.5px;
  border: hidden;
  background: #00B0B8;
  transition: all 0.3s ease 0s;
  color: #f0f0f0;
}

.dem-podcast-button > button:hover {
  background: #FE9166;
  box-shadow: 0 0 8px #FE9166;
  border: hidden;
}

@media only screen and (max-width: 768px) { /* For mobile phones: */
  .dem-podcast-button > button {
    font-size: 15px;
    padding: 3px 5px;
  }
}

/*--------------------------------------------------------------
  # FINAL ACTIVIDAD
--------------------------------------------------------------*/
.dem-element {
  width: 50%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  border-bottom-right-radius: 15px;
  box-shadow: 0 2px 17px 0 rgb(181, 101, 29, 0.005), 0 4px 16px 0 rgb(181, 101, 29, 0.4);
}

.dem-white-part {
  width: 100%;
  height: 80%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
}

.dem-white-part img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  object-fit: cover;
  transition: 0.3s;
}

.dem-white-part h2 {
  font-size: 24px;
  color: #333333;
  transition: 0.3s;
}

.dem-element::after {
  content: "";
  width: 100%;
  height: 20%;
  background: linear-gradient(to right, #648223, #5A9B78);
  border-bottom-right-radius: 15px;
}

.dem-element:hover {
  background-color: #F7F7F7; /* hover background color */
}

.dem-element:hover .dem-white-part {
  background-color: #F2F2F2; /* hover background color */
}

.dem-element:hover .dem-white-part h2 {
  color: #666666; /* hover text color */
}

.dem-element:hover .dem-white-part img {
  transform: scale(1.1); /* hover image scale effect */
}

.dem-element:hover::after {
  background: linear-gradient(to right, #34C759, #2E865F); /* hover gradient from #34C759 to #2E865F */
}

/*--------------------------------------------------------------
# MCUPAZ CONTENIDO MINI
--------------------------------------------------------------*/

.dem-pre-mcupaz,
.dem-next-mcupaz {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: -webkit-fill-available;
  border: none;
  background-color: #618226;
  color: white;
}

.dem-pre-mcupaz {
  left: 2.5%;
}

.dem-next-mcupaz {
  right: 2.5%;
}

.dem-tab-wrapper_act-mcupaz {
  position: relative;
}

.dem-tabs-mcupaz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #EBEAEA;
}

.dem-tab-button-mcupaz {
  justify-content: space-around;
  background-color: #77B160;
  color: white;
  border: solid;
  border-color: #77B160;
  padding: 8px 16px;
  margin: 10px;
  border-top-right-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dem-tab-button-mcupaz:hover {
  background: #8FC3A3;
  border-color: #77B160;
}

.dem-tab-button-mcupaz.active-mcupaz {
  background: #fff;
  border-color: #77B160;
  border: solid;
  color: #77B160;
}

.dem-tab-content-mcupaz {
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  text-align: justify;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  animation: fadeIn;
  animation-duration: .65s;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

@media only screen and (max-width: 768px) {
  .dem-tab-button-mcupaz {
    display: none;
  }

  .dem-tab-button-mcupaz.active-mcupaz {
    display: block;
    width: 100%;
    line-height: 3vh;
    font-size: 18px;
  }
}